[Unit]
Description=Faustball Datenupdate alle 10 Minuten

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
